.example-card {
  width: 220px;
  max-height: 490px;
  background-color: #424242;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin-top: 30px;
  transition: 1seg ease-in-out transform;
}

.example-card:hover {
  transform: scale(1.05);
}

.btn-card {
  width: 37px;
  height: 37px;
  margin: 10px;
  transition: 1seg ease-in-out transform;
}

.btn-card:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.center button {
  background-color: transparent;
  border: none;
}

mat-card-subtitle {
  color: #424242;
}

.center {
  text-align: center;
}

.star-fav {
  width: 90%;
  height: 90%;
}

.star-fav:hover {
  cursor: pointer;
}

mat-card-image {
  width: 80%;
  height: 20%;
}

mat-card-title {
  font-size: 1.3em;
}

