<mat-card class="card">
  <mat-card-header class="header">
    <div class="subheading-2 title">Inserir</div>
    <div class="header-actions">
      <button mat-icon-button ><mat-icon>close</mat-icon></button>
    </div>
  </mat-card-header>
  <mat-card-content class="content">
    <form class="example-form">
      <div class="grid-form">
        <div class="grid-photo">
          <img
            src="{{photoView}}"
            class="cont-img"
            alt="Exemplo imagem"
          />
          <mat-form-field class="example-full-width">
            <input matInput placeholder="URL" #urlPic/>
          </mat-form-field>

          <button mat-button color="basic" (click)="photoView = urlPic.value">Carregar</button>
          <br /><br /><br />

          <mat-checkbox>Favorito</mat-checkbox>
        </div>

        <div class="insert-info">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Primeiro nome*" />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ultimo nome*" />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Telefone*" mask="(00)00000-0000" />
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Genero*">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{ gender.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="insert-more-info">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Email*"
              [formControl]="emailFormControl"
              [errorStateMatcher]="matcher"
            />
            <mat-error
              *ngIf="
                emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')
              "
            >
              Insera o email corretamente
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Company*" />
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Endereço" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Comentario"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="btn-group">
        <button mat-fab color="primary" class="btn-insert">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-fab color="primary" class="btn-insert">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
