<div class="container">
  <div
    *ngIf="(contacts$ | async) as contacts; else loadingError"
    class="flex-list"
  >
    <div *ngFor="let contact of contacts | slice: lowValue : highValue">
      <app-card
        [firstName]="contact.firstName"
        [lastName]="contact.lastName"
        [gender]="contact.gender"
        [avatar]="contact.info.avatar"
        [phone]="contact.info.phone"
        [isFavorite]="contact.isFavorite"
        [id]="contact.id"
        (deleted)="onRefresh()"
      ></app-card>
    </div>
    <div class="paginator">
      <mat-paginator
        [length]="contacts.length"
        [pageSize]="pageSize"
        [hidePageSize]= "true"
        [showFirstLastButtons]="false"
        (page)="pageEvent = getPaginatorData($event)"
      >
      </mat-paginator>
    </div>
  </div>
  <ng-template #loadingError>
    <div *ngIf="(error$ | async); else loading">
      Erro ao carregar cursos. Tente novamente mais tarde.
    </div>
    <ng-template #loading>
      <div class="container center">
        <mat-spinner color="primary"></mat-spinner>
      </div>
    </ng-template>
  </ng-template>
</div>
