<mat-card class="card" >
  <mat-card-header class="header">
    <div class="subheading-2 title">Inserir</div>
    <div class="header-actions">
      <button mat-icon-button (click)="onCancel()"><mat-icon>close</mat-icon></button>
    </div>
  </mat-card-header>
  <mat-card-content class="content" >
    <form class="example-form" [formGroup]="form">
      <div class="grid-form">
        <div class="grid-photo">
            <div formGroupName="info">
          <img [src]="avatar == '' || avatar == null ? photoView : avatar" class="cont-img" alt="Exemplo imagem" />
          <mat-form-field class="example-full-width">
            <label for="avatar">URL da foto</label>
            <input
              matInput
              placeholder="URL"
              #urlPic
              id="avatar"
              formControlName="avatar"
            />

          </mat-form-field>
        </div>

          <button mat-button color="basic" (click)="photoView = urlPic.value">
            Carregar
          </button>
          <br /><br /><br />

          <mat-checkbox id="isFavorite" formControlName="isFavorite"
            >Favorito</mat-checkbox
          >
        </div>

        <div class="insert-info">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Primeiro nome*"
              id="firstName"
              formControlName="firstName"
            />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Ultimo nome*"
              id="lastName"
              formControlName="lastName"
            />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <div formGroupName="info">
            <input
              matInput
              placeholder="Telefone*"
              mask="(00)00000-0000"
              id="phone"
              formControlName="phone"
            />
          </div>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-select
              placeholder="Genero*"
              id="gender"
              formControlName="gender"
            >
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{ gender.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="insert-more-info">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Email*"
              id="email"
              [errorStateMatcher]="matcher"
              formControlName="email"
            />
          </mat-form-field>
          <div formGroupName="info">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Company*"
              id="company"
              formControlName="company"
            />
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Endereço"
              id="address"
              formControlName="address"
            />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea
              matInput
              placeholder="Comentario"
              id="comments"
              formControlName="comments"
            ></textarea>

          </mat-form-field>
        </div>
        </div>
      </div>
      <div class="btn-group">
        <button
          mat-fab
          color="primary"
          type="submit"
          class="btn-insert"
          (click)="onSubmit()"
        >
          <mat-icon>done</mat-icon>
        </button>
        <button mat-fab color="primary" class="btn-insert" (click)="onCancel()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>

    <ng-template #loading>
        <div class="container center">
          <mat-spinner color="primary"></mat-spinner>
        </div>
      </ng-template>
  </mat-card-content>
</mat-card>
